# Dependências instaladas pelo NPM
/node_modules

# Arquivo de configuração do ambiente
/.env

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Arquivos gerados automaticamente
coverage/
lib/
build/
dist/
.eslintcache
*.js.map
*.tsbuildinfo
*.json

# Arquivos de usuário
.idea
.vscode
.DS_Store
*.sublime-*
*.swp
